/*-----Mobile first------*/

@media screen and (min-width: 480px) {
  .coteiner {
    width: 426px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {

  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 22px;
  }

  .mobile-menu-open-icon {
    stroke: var(--Dark);
  }
  .mobile-menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
  }

  .mobile-menu_close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--border-bottom);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color var(--transition-dur-func);
}
  .page-header {
    padding: 24px 0;
  }

  .header-container {
    max-width: 426px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

    .site-nav.list {
    display: none;
    }

  .address-no-mobile {
    display: none;
  }

  .team-list {
    display: ;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
  }

  .team-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .footer-container {
    max-width: 426px;
  }
  .customers-container {
    max-width: 426px;
  }


  .team-container {
  }

  
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;
  }

  .footer-desc {
    display: block;
    margin: 0 auto;
  }

  .footer-desc > .logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-soc-media {
    display: block;
    margin: 0 auto;
  }

  .footer-soc-title {
    text-align: center;
  }
  .subscribe-input {
    width: 100%;
    margin-bottom: 16px;
  }

  .modal {
    max-width: 392px;
  }


}

@media screen and (min-width: 768px) {

  .page-header {
    border-bottom: 1px solid var(--border-bottom);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .header-item:not(:last-child) {
    margin-right: 40px;
  }

  .header-item {
    position: relative;
  }

  .header-item > .current {
    color: var(--Pressed-state);
  }

  .header-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Dark);
    transition-property: color;
    transition-duration: 250ms;
  }
  
  .current::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--Pressed-state);
    border-radius: 2px;
    transition-property: opacity;
    transition-duration: 250ms;
  }
  .site-logo {
    display: flex;
    align-items: center;
  }

  .site-nav.list {
    display: flex;
    align-items: center;
  }

  .auth-nav {
    font-style: normal;
    margin-left: auto;
  }

  .contacts:not(:last-child) {
    margin-bottom: 12px;
  }

  .contact-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--Text);
    transition-property: color;
    transition-duration: 250ms;
  }

  .mobile-menu-open {
    display: none;
  }
   
  .site-logo > .logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .container {
    max-width: 766px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .subscribe-input {
    margin-right: 24px;
  }

  .customers-list {
    justify-content: center;
    gap: 72px 24px;
  }

  .hero {
    padding: 112px 0;
    max-width: 768px;
    margin: 0 auto;
    background-color: var(--Dark);
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tab.jpg);
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image:  linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tab-2x);
    }
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: center;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .our-advantages-list {
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .team-item {
    margin: 0;
  }

  .our-advantages-list.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }

  .modal {
    max-width: 408px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .site-logo > .logo {
    padding: 24px 0;
    margin-right: 76px;
  }

  .auth-nav {
    display: flex;
    align-items: center;
  }

  .contacts:not(:last-child) {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .contact-item {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primiory-text-color);
    transition: color var(--transition-dur-func);
  }

  .hero {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office1.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image:  linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office1-2x);
    }
  }

  .section-advantages {
    padding: 120px 0;
  }
  .advantages-box {
    display: flex;
    margin-bottom: 8px;
  }

  .section-features {
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages-item {
    width: calc((100%-72px) / 4);
  }
  .our-advantages-list.list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .team-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--Dark);
  }

  .doing-title {
    color: var(--Dark);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .doing-container {
    width: 1158px;
    padding-bottom: 120px;
  }
  .doing-section {
    display: flex;
  }

  .doing-list {
    display: flex;
    gap: 24px;
    flex-basis: calc(100% / 3);
  }

  .footer {
    padding: 100px 0;
  }

  .footer-container {
    gap: 0 0;
  } 
  .footer-desc {
    margin-right: 120px;
  }

  .subscribe-box {
    margin-left: auto;
}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-container {
    width: 552px;
  }
}